$body-color: red;

@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

body {
	font-family: 'Roboto', sans-serif;
  color: $body-color;
	background: url('./assets/rainy-bg.jpg');
}
